# This is a requirement list for pip.
# It contains a lot of dependencies just to make installation
# and usage easy.
# See also setup.py for a minimal list of dependencies.
#
# The requirements can be installed with
#
#   $ pip install -r requirements.txt

pyYAML

scipy
sympy
numpy
matplotlib

networkx
graphviz
pyGraphViz
pydot
sphinx
pytest

# nice-to-haves for sphinx:
sphinx-rtd-theme
sphinxcontrib-programoutput
recommonmark
nbsphinx
